.main {
border-radius: 5px;
background-color:grey;
width: 300px;
height: 300px;
text-align: center;
padding: 2px;
margin-right: 2px;
margin: auto;
}

body{
    border-radius: 3px;
    background-color: black;
    text-align: center;
}
h1 {
    border-radius: 3px;
    color: black;
    display: inline-block;
    width:80px;
    background-color: white;
}
.set {
    margin-top: 10px;
    width: 300px;
    border-radius: 3px;
    background-color:snow;
    font-size: 25px;
    /* display: inline-block; */
}
button{
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-weight: bold;
}